<div ng-controller="editUserController">
  <div ng-if="!user">
    <p>There was a problem finding this user Please go back and find another</p>
    <a class="btn-flat" href="#!/">Go Home</a>
  </div>
  <form class="card" >
    <div class="card-content">
      <div class="card-title"><strong>Edit {{user.firstName}}'s Profile</strong></div>
      <ul>
        <li><strong>Name: </strong> {{user.firstName}} {{user.lastName}}</li>
        <li><strong>Birth Date: </strong> <span ng-bind="user.dob | date:'medium'"></span></li>
        <li><strong>User ID: </strong> {{user._id}}</li>
      </ul>
      <div class="row">
        <div class="col s6">
          <label for="first-name" >Update First Name</label>
          <input id="first-name" type="text" placeholder="First Name" ng-model="editedUser.firstName">
          <label for="last-name">Update Last Name</label>
          <input id="last-name" type="text" placeholder="Last Name" ng-model="editedUser.lastName">
          <label for="birth-day">Update Birthday</label>
          <input id="birth-day" type="date"  ng-model="editedUser.dob">
          <p class="red-text" ng-if="badData" ng-bind="badData"></p>
        </div>
      </div>
    </div>
    <div class="card-action">
      <button class="btn-flat yellow black-text" ng-click="editUser()">Update {{user.firstName}}</button>
      <!--<a class="btn-flat red black-text">Delete {{user.firstName}}</a>-->
    </div>
  </form>
</div>