<div>
  <div class="row">
    <div class="card large grey lighten-2">
      <div class="card-content">
        <div class="card-title center"><strong>Settings</strong></div>
        <div class="col s4">
          <ul>
            <li><strong>Settings Head</strong></li>
            <li>Some Settings</li>
            <li>Some Settings</li>
            <li>Some Settings</li>
            <li>Some Settings</li>
          </ul>
        </div>
        <div class="col s4 center">
          <ul>
            <li><strong>Settings Head</strong></li>
            <li>Some Settings</li>
            <li>Some Settings</li>
            <li>Some Settings</li>
            <li>Some Settings</li>
          </ul>
        </div>
        <div class="col s4 right-align">
          <ul>
            <li><strong>Settings Head</strong></li>
            <li>Some Settings</li>
            <li>Some Settings</li>
            <li>Some Settings</li>
            <li>Some Settings</li>
          </ul>
        </div>
        <ul>

        </ul>
      </div>
    </div>
  </div>






















</div>