<div class="">
  <h3 class="center">Team And Player Management Page</h3>
  <div class="row">
    <a href="#!/teams" class="card col s3 black z-depth-5">
      <div class="card-content">
        <div class="card-title center yellow-text">Go To Teams</div>
      </div>
    </a>
    <div class="col s1"></div>
    <a href="#!/players" class="card col s3 black z-depth-5">
      <div class="card-content">
        <div class="card-title center orange-text">Go To Players</div>
      </div>
    </a>
    <div class="col s1"></div>
    <a href="#!/all" class="card col s3 black z-depth-5">
      <div class="card-content">
        <div class="card-title center blue-text">Manage Teams</div>
      </div>
    </a>
  </div>
</div>